.App {
  text-align: center;
  
  display: flex;
  flex-flow: column wrap;
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-image: url("./images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: 1498px 350px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  bottom: 80px;
}

.map_embed{
  position:absolute;
  top: 250px;
}


@media only screen and (max-width: 768px){
  .App{
    background-size: 768px 200px;
  }
}

@media only screen and (max-width: 375px){
  .App{
    background-size: 375px 500px;
  }
}
